@charset "UTF-8";

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../font/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../font/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../font/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../font/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../font/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../font/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.category {
  padding: 148px 0 140px 0;
}

.category__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 0.6;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 65px;
}

.category__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
  position: relative;
}

.product__sort-wrapper {
  position: relative;
  margin: -84px 28px 48px auto;
  width: 226px;
  height: 37px;
}

.product__sort {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 0 0 70px;
  outline: none;
}

.select__title {
  font: 600 14px/2.8 Mulish;
  position: absolute;
  display: block;
  letter-spacing: 0.2px;
  color: #000000;
  left: 15px;
  bottom: 0;
  width: 60px;
  height: 100%;
}

.filter {
  width: 290px;
}

.filter__category {
  margin-bottom: -16px;
}

.category__items {
  position: relative;
  padding-top: 32px;
  margin-top: 32px;
}

.category__items::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

.product__items-category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 98px;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.filter__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 0.9;
  color: #000000;
  padding-bottom: 16px;
  margin-bottom: 32px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter__title.active::before {
  background: url("../img/sprite.svg#arrow_top2") no-repeat center/contain;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 50%;
  bottom: 5px;
  -webkit-transform: translateX(50%) rotateX(180deg);
  transform: translateX(50%) rotateX(180deg);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.filter__title.open::before {
  -webkit-transform: translateX(50%) rotateX(0deg);
  transform: translateX(50%) rotateX(0deg);
}

.filter__title::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.filter__category-list {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
}

.filter__category-item {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;
  color: #686868;
  margin-bottom: 16px;
  cursor: pointer;
}

.filter__category-item:hover {
  color: #ED165F;
}

.clear {
  font: 600 14px/1.29 Mulish;
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  color: #c4c4c4;
  display: block;
  position: relative;
  padding-right: 25px;
  cursor: pointer;
}

.clear__svg {
  position: absolute;
  width: 9px;
  height: 9px;
  bottom: 50%;
  right: 0;
  margin-left: 16px;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  stroke: #c4c4c4;
}

.filter__size-list {
  max-width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 15px;
  padding-right: 20px;
}

.filter__size-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  padding: 6px 11px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #c4c4c4;
  cursor: pointer;
}

.filter__size-item.active {
  background: #ED165F;
  color: #ffffff;
}

.filter__size-item:hover {
  -webkit-transition: border 0.3s ease-in;
  -o-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
  border: 1px solid #000000;
}

.filter__color-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 17px;
}

.filter__color-item {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  height: 32px;
  width: 32px;
  padding-right: 7px;
  border-radius: 2px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  cursor: pointer;
}

.filter__color-item:hover {
  border: 3px solid #000000;
}

.filter__color-text {
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  display: block;
  margin-left: 39px;
}

.filter__price-item {
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.filter__price-item span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
}

.filter__price-check {
  width: 27px;
  height: 27px;
  border: 0.5px solid #000000;
  margin-right: 7px;
  cursor: pointer;
}

.filter__price-check._active,
.filter__price-check:hover {
  background: #ED165F;
}

.filter__price-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.filter__price-min {
  position: relative;
  margin-right: 42px;
  padding-left: 10px;
}

.filter__price-min::before {
  content: "₦";
}

.filter__price-min::after {
  content: "-";
  position: absolute;
  right: -22px;
}

.filter__price-max::before {
  content: "₦";
}

.filter__price-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.filter__price-form label {
  position: relative;
  width: 60px;
  padding-left: 17px;
  z-index: 5;
}

.filter__price-wrapper {
  position: relative;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.valute {
  position: absolute;
  display: block;
  padding: 6px 0;
  bottom: 0;
  height: 100%;
  width: 24px;
  text-align: center;
}

.filter__price-input {
  width: 100%;
  padding: 3px 0 4px 18px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.286;
  color: #000000;
  height: 30px;
}

.filter__price-to {
  width: 30px;
  text-align: center;
  margin-right: 1px;
}

.btn {
  background: #ED165F;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all ease-out 240ms;
  -o-transition: all ease-out 240ms;
  transition: all ease-out 240ms;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.286;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.btn:focus {
  outline: transparent;
}

.btn:focus-visible {
  -webkit-transform: scale(1.05) translateY(-5%);
  -ms-transform: scale(1.05) translateY(-5%);
  transform: scale(1.05) translateY(-5%);
}

.btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.filter__price-btn {
  padding: 4px 14px 5px 14px;
  margin-left: 17px;
}

.mixitup-control-active {
  color: #ED165F;
}

.filter__category-list .mixitup-control-active::after {
  display: none !important;
}

.filter__title .mixitup-control-active::after {
  display: none !important;
}

.filter__color-list .mixitup-control-active {
  border: 3px solid #686868;
}

.contact {
  padding-top: 126px;
}

.contact__container {
  padding-left: 182px;
}

.contact__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 0.6;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 16px;
}

.contact__subtitle {
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 64px;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 160px;
  margin-bottom: 195px;
}

.contact__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 409px;
}

.contact__form-title {
  font-size: 20px;
  line-height: 0.9;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 32px;
}

.form__label {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  margin-bottom: 16px;
}

.form__input {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 18px;
  line-height: 1.29;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 6px;
  margin-bottom: 32px;
}

.signin__form-password {
  margin-bottom: 16px;
}

.signin__form-btn,
.create__form-btn {
  width: 100%;
  margin-bottom: 24px;
  text-transform: uppercase;
  height: 47px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 800;
}

.signin__form-forgot {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.2px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;
}

.form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 27px;
  position: relative;
}

.form__checkbox-wrapper::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #ED165F;
  border-radius: 6px;
}

.form__checkbox-wrapper.active::before {
  background: #ED165F;
}

.form__checkbox-wrapper.active .checkbox__img {
  display: block;
}

.checkbox__img {
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 4px;
  top: 4px;
  fill: #ffffff;
  display: none;
}

.create__checkbox-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 42px;
}

.signin__form-remember,
.create__form-newsletters {
  height: 24px;
  width: 24px;
  margin: 0;
  visibility: hidden;
  display: none;
}

.checkbox__text {
  cursor: pointer;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.2px;
  color: #000000;
  margin-top: 3px;
  margin-left: 32px;
  width: 100%;
  height: 26px;
}

.footer {
  font: 16px/1.3 Roboto;
  background: #F5F5F5;
  padding-bottom: 64px;
}

.footer__items {
  padding-top: 57px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  height: 46px;
}

.footer__logo-img {
  width: 80px;
  height: 46px;
}

.footer__logo-link {
  margin-top: 3px;
}

.footer__menu {
  margin-left: 25px;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
}

.footer__menu-item {
  margin-bottom: 3px;
}

.footer__menu-item:last-child {
  margin-bottom: 0;
}

.footer__menu-link {
  display: block;
  cursor: pointer;
}

.footer__social {
  margin-left: -38px;
}

.footer__social-item {
  margin-bottom: 3px;
  cursor: pointer;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__social-link svg {
  width: 14px;
  height: 14px;
  margin-right: 20px;
  pointer-events: none;
}

.footer__social-link:hover svg {
  fill: #ED165F;
}

.footer__form {
  margin-top: 3px;
}

.footer__form-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 23px;
}

.footer__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.footer__form-email {
  font: 12px/1.2 Roboto;
  border: 1px solid #ED165F;
  border-radius: 5px 0 0 5px;
  color: #000000;
  padding: 11px 60px 10px 22px;
}

.footer__form-email::-webkit-input-placeholder {
  color: #000000;
}

.footer__form-email::-moz-placeholder {
  color: #000000;
}

.footer__form-email:-ms-input-placeholder {
  color: #000000;
}

.footer__form-email::-ms-input-placeholder {
  color: #000000;
}

.footer__form-email::placeholder {
  color: #000000;
}

.footer__form-btn {
  font: 600 11px/1.27 Roboto;
  background: #ED165F;
  color: #ffffff;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 0 5px 5px 0;
  border: none;
}

.footer__form-btn:hover {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all ease-out 240ms;
  -o-transition: all ease-out 240ms;
  transition: all ease-out 240ms;
}

.footer__form-btn:hover:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.footer__form-btn:hover:focus {
  outline: transparent;
}

.footer__form-btn:hover:focus-visible {
  -webkit-transform: scale(1.05) translateY(-5%);
  -ms-transform: scale(1.05) translateY(-5%);
  transform: scale(1.05) translateY(-5%);
}

.footer__form-btn:hover:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.footer__contact {
  margin-right: 3px;
  margin-left: 123px;
}

.footer__contact-list {
  margin: 0;
  padding: 0;
}

.footer__contact-item {
  margin-bottom: -1px;
}

.footer__contact-link {
  font: normal 12px/1.17 Roboto;
  letter-spacing: 0.15px;
  color: #000000;
}

.header {
  background: #F5F5F5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.header__row {
  padding: 6px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
  padding: 0 15px;
  margin-top: 10px;
  margin-left: 114px;
}

.header__logo-img {
  width: 70px;
  height: 40px;
}

.header__search-wrapper {
  background: #F5F5F5;
  margin-left: 186px;
  position: relative;
  cursor: pointer;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__search-input {
  background: inherit;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.header__search-input._active {
  position: relative;
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.header__search-btn {
  background: inherit;
  position: relative;
  z-index: 5;
}

.svg-header_search {
  width: 16px;
  height: 16px;
  margin-left: 3px;
}

.header__market-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 3px;
  z-index: 4;
}

.svg-header_user,
.svg-header_cart,
.svg-header_favorites {
  display: block;
  width: 16px;
  height: 16px;
  fill: #000000;
}

.header__link + .header__link {
  margin-left: 30px;
}

.hero {
  background: #ED165F;
  padding-top: 62px;
}

.hero_btn {
  cursor: pointer;
  display: block;
  font-size: 30px;
  line-height: 0.47;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 79px;
  position: relative;
  margin: 0 auto;
  max-width: 330px;
}

.hero_btn::after {
  background: url("../img/header_down.svg") no-repeat center/cover;
  content: "";
  position: absolute;
  top: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 23px;
  height: 26px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.hero_btn:hover::after {
  -webkit-transform: translateY(5px) translateX(-50%);
  -ms-transform: translateY(5px) translateX(-50%);
  transform: translateY(5px) translateX(-50%);
}

body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

.menu__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__item {
  position: relative;
  cursor: pointer;
}

.menu__item.active {
  color: #ED165F;
}

.menu__item::after {
  background: #ED165F;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.menu__item:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.menu__item + .menu__item {
  margin-left: 37px;
}

.menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.2px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-align: center;
  width: 100%;
  padding: 13px;
}

/* -----------------------------*/

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/*-----------------------------*/

.news {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.pagination ul li {
  color: #000000;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.pagination ul li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
}

.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}

.pagination ul li.btn {
  padding: 0 20px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination li:first-child:hover,
.pagination ul li:last-child:hover {
  border-bottom: 3px solid #ED165F;
}

.product__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 98px;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
}

.product__item {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.product__item:hover .product__item-overlay {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.product__link {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

.product__img {
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 28px;
}

.product__name {
  font-size: 20px;
  line-height: 0.7;
  letter-spacing: 0.2px;
  color: #000000;
  margin-bottom: 16px;
}

.product__price {
  font: 20px/0.87 Roboto;
  letter-spacing: 1.1px;
  color: #000000;
}

.product__price::before {
  content: "₦";
}

.product__item-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.product__item-btn {
  background: transparent;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
}

.product__favorites {
  background: #ffffff;
  position: absolute;
  top: 166px;
  width: 35px;
  height: 35px;
}

.product__item-favorites {
  width: 16px;
  height: 14px;
  fill: #ffffff;
  stroke: #ED165F;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

.product__to-cart {
  background: #ffffff;
  border-radius: 2px;
  position: absolute;
  top: 214px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 9px 15px 10px 19px;
}

.product__to-cart:hover .product__item-cart {
  fill: #ffffff;
  stroke: #ED165F;
}

.product__item-cart {
  width: 14px;
  height: 14px;
  fill: #ED165F;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  margin-left: 10px;
}

.choices[data-type*=select-one]::after {
  background: url("../img/arrow_top.svg") no-repeat center/contain;
  border: none !important;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
  width: 11px;
  height: 7px;
}

.choices__inner {
  padding: 0 !important;
  min-height: auto;
  border-radius: 0;
  border: 1px solid #000000;
}

.choices__list--single {
  padding-left: 72px;
  height: 37px;
}

.choices__item--selectable {
  font: 600 14px/1.29 Mulish;
  letter-spacing: 0.2px;
  color: #000000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: #ED165F;
}

.shop {
  padding: 64px 0 140px 0;
}

.shop__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 0.6;
  color: #000000;
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
}

.shop__text {
  font-size: 24px;
  line-height: 1.46;
  color: #000000;
  padding: 0 115px;
  text-align: center;
  margin-bottom: 60px;
}

.mixitup-page-list {
  height: 35px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.mixitup-control {
  font: 300 14px/1 Mulish;
  background: #ffffff;
  border: none;
  letter-spacing: 0.2px;
  color: #000000;
  width: 74px;
  height: 100%;
  padding: 0;
  cursor: pointer;
}

.mixitup-control::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  margin-top: 21px;
  width: 105%;
  height: 1px;
}

.mixitup-control-active::after {
  background: #ED165F;
  content: "";
  display: block;
  margin-top: 20px;
  width: 105%;
  height: 3px;
}

.mixitup-control-prev {
  position: relative;
}

.mixitup-control-next {
  position: relative;
}

.mixitup-control-prev::after {
  background: url("../img/btn_next.svg") no-repeat center/8px #ffffff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  fill: #ffffff;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mixitup-control-next::after {
  background: url("../img/btn_next.svg") no-repeat center/8px #ffffff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  fill: #ffffff;
}

.mixitup-control-disabled {
  visibility: hidden;
  pointer-events: none;
}

.hero__swiper {
  background: url("../img/hero-bg.png") no-repeat center/82%;
  max-height: 940px;
  margin-bottom: 64px;
}

.swiper-slide {
  padding-bottom: 35px;
}

.hero__swiper-slide {
  bottom: 16px;
}

.hero__swiper-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 665px;
}

.hero__swiper-pagination {
  bottom: -5px !important;
}

.hero__swiper-pagination .swiper-pagination-bullet {
  background: #ED165F;
  width: 16px;
  height: 16px;
  border: 2px solid #FFFFFF;
  opacity: 1;
  margin-right: 22px !important;
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.hero__swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  font-family: Mulish;
  color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  font-family: Mulish;
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  font-family: Mulish;
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  font-family: Mulish;
  color: rgba(0, 0, 0, 0.5);
}

::placeholder {
  font-family: Mulish;
  color: rgba(0, 0, 0, 0.5);
}

::-moz-selection {
  background: #ED165F;
  color: #fff;
}

::selection {
  background: #ED165F;
  color: #fff;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

body {
  font: 16px/1.65 Mulish, sans-serif;
  color: #000000;
  background: #ffffff;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

a:hover {
  color: #ED165F;
}

svg {
  fill: #000000;
  -webkit-transition: fill 0.2s ease-in;
  -o-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
}

svg:hover {
  fill: #ED165F;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}

.button__top {
  background: #ffffff;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: fixed;
  width: 61px;
  height: 50px;
  bottom: 50px;
  right: 52px;
  border: 1px solid #000000;
  border-radius: 5px;
  -webkit-transition: border 0.3s ease-in;
  -o-transition: border 0.3s ease-in;
  transition: border 0.3s ease-in;
  z-index: 100;
  display: none;
}

.button__top:hover {
  border: 1px solid #ED165F;
}

.button__top:hover .arrow__top {
  fill: transparent;
  stroke: #ED165F;
}

.button__top.visible {
  display: block;
}

.arrow__top {
  display: block;
  fill: transparent;
  stroke: #000000;
  width: 17px;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: stroke 0.3s ease-in;
  -o-transition: stroke 0.3s ease-in;
  transition: stroke 0.3s ease-in;
  pointer-events: none;
}

.btn {
  background: #ED165F;
  border-radius: 6px;
  border: none;
  line-height: 1.33;
  color: #ffffff;
}

@supports (-webkit-appearance:none) {
  .filter__title.active::before {
    background-image: url("../img/sprite.svg#arrow_top2");
  }

  .hero_btn::after {
    background-image: url("../img/header_down.svg");
  }

  .choices[data-type*=select-one]::after {
    background-image: url("../img/arrow_top.svg");
  }

  .mixitup-control-prev::after {
    background-image: url("../img/btn_next.svg");
  }

  .mixitup-control-next::after {
    background-image: url("../img/btn_next.svg");
  }

  .hero__swiper {
    background-image: url("../img/hero-bg.webp");
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1400px) {
  .product__items-category {
    row-gap: 60px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .product__items {
    row-gap: 60px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1300px) {
  .footer__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    row-gap: 30px;
    text-align: center;
  }

  .footer__menu {
    margin-left: 0;
  }

  .footer__social {
    margin-left: 0;
  }

  .footer__form {
    margin-left: 0;
  }

  .footer__contact {
    margin-left: 0;
  }

  .header {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .header__row {
    padding: 6px 15px;
  }

  .header__logo-link {
    margin-left: 0;
  }

  .header__search-wrapper {
    margin-left: 0;
    margin-right: 15px;
  }

  .header__market-wrapper {
    margin-left: 0;
  }

  .menu__list {
    margin-left: 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1200px) {
  .product__items-category {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__container {
    padding-left: 0;
  }

  .contact__wrapper {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 30px;
  }

  .product__items {
    grid-template-columns: repeat(3, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1100px) {
  .footer__items {
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1000px) {
  .category__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .product__items-category {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__link + .header__link {
    margin-left: 10px;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .mixitup-control {
    width: 40px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  .shop__text {
    padding: 0 40px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 900px) {
  .contact__title {
    text-align: center;
  }

  .contact__subtitle {
    text-align: center;
  }

  .contact__wrapper {
    display: block;
    margin-bottom: 80px;
  }

  .contact__col {
    margin: 0 auto;
  }

  .contact__create {
    margin-top: 64px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 860px) {
  .product__items {
    grid-template-columns: repeat(2, 1fr);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .category__wrapper {
    display: block;
  }

  .filter {
    margin: 0 auto;
    margin-bottom: 90px;
  }

  .category__items {
    width: 290px;
    margin: 0 auto;
  }

  .filter__category-list.hidden {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
    z-index: 3;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }

  .menu__list {
    display: block;
  }

  .menu__item {
    margin: 0 0 30px 0;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__item._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 700px) {
  .news {
    display: block;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 640px) {
  .shop__title {
    font-size: 32px;
  }

  .shop__text {
    padding: 0 20px;
    font-size: 20px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 600px) {
  .product__items-category {
    row-gap: 30px;
  }

  .hero_btn {
    font-size: 25px;
  }

  .product__items {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 520px) {
  .footer__item {
    width: 100%;
  }

  .footer__social-link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__form-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 500px) {
  .header__search-wrapper {
    right: -40px;
  }

  .header__search-wrapper._active {
    position: absolute;
    right: 0;
    z-index: 5;
    padding: 8px 0 8px 70px;
  }

  .header__search-input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 400px) {
  .header__search-wrapper {
    right: 0px;
  }

  .header__search-wrapper._active {
    padding: 8px 0 8px 25px;
  }

@supports (-webkit-appearance:none) {

}
}